@charset "utf-8";

body {
    font-size:14px;
    background-color: #eee;
}

#sombra{
    max-width: 973px;
    background-color: #ccc;
    color: inherit;
    margin: auto;
    margin-top: 10px;
}

.Tabla{
    padding-left: 10px;
    padding-right: 10px;
}

#raiz_login{
    max-width: 973px;
    position: relative;
    margin-right: 4px;
    bottom: 6px;
    right: 4px;
    text-align:center;
}

#raiz{
    position: relative;
    margin-right: 4px;
    bottom: 6px;
    right: 4px;
}

#sistema{
    margin:0 auto;
    padding:0;
    max-height:150px;
    max-width:100%;
    background-color:#FFFFFF;
    border: solid 1px #999999;
}

#menu{
    margin:0 auto;
    padding:0;
    min-height:33px;
    width:100%;
    background-color:#FFFFFF;
    border:solid 1px #999999;
}

#contenido{
    margin:0 auto;
    padding: 0;
    min-height:420px;
    width:100%;
    background-color:#FFFFFF;
    font-size:12px;
    border:solid 1px #999999;
}

#pie{
    margin:0 auto;
    padding:0;
    /*min-height:70px;*/
    width:100%;
    background-color:#FFFFFF;
    border:solid 1px #999999;
}

.margen{
    padding-left: 5px;
}

#eventosExternos {
    width: 200px;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #eee;
    text-align: left;
}

#eventosExternos h4 {
    font-size: 12px;
    margin-top: 0;
    padding-top: 1em;
}


.external-event { /* try to mimick the look of a real event */
    margin: 10px 0;
    padding: 2px 4px;
    border: 1px solid blue;
    background: #CFDEFF;
    color: #000;
    font-size: .85em;
    cursor: pointer;
}